@charset "utf-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
}
.wrap {
    clear: both;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.hd {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    position: relative;
    z-index: 90;
    transition: 0.6s;
}
.hd:hover {
    background: #fff;
}
.hd:hover .logo {
    background: url("../img/logo.png") no-repeat;
    width: 172px;
    height: 60px;
}
.hd:hover .gnb > ul > li > a {
    color: #333;
}
.hd .logo {
    width: 172px;
    height: 60px;
    position: absolute;
    background: url("../img/logow.png")no-repeat;
    background-size: 172px 60px;
    transition: 0.6s;
}
.hd_top {
    height: 35px;
    background: #f79026;
}
.hd_inner {
    width: 1280px;
    margin: 0 auto;
}
.lang {
    float: left;
    background: #663300;
    height: 35px;
    line-height: 34px;
    text-align: center;
    width: 120px;
    margin-right: 30px;
}
.lang a {
    color: #fff;
    font-size: 13px;
}
.lang a:after {
    content: "▼";
    font-size: 10px;
    padding-left: 5px;
}
.link li {
    float: left;
    padding-right: 15px;
    line-height: 30px;
}
.link a:after {
    content: "|";
    padding-left: 15px;
}
.link .item3 a:after {
    content: "";
}
.link li a {
    font-size: 13px;
    color: #fff;
}
.hd_top_right {
    float: right;
}
.hd_top_right li {
    float: left;
    margin-left: 20px;
}
.hd_top_right li a {
    color: #fff;
    font-size: 13px;
    line-height: 35px;
}
.hd_top_right .tour i {
    margin-right: 5px;
    font-size: 15px;
}
.hd_top_right .login i {
    margin-right: 5px;
    font-size: 15px;
}
.search {
    background: #663300;
    width: 35px;
    text-align: center;
}
.search i {
    font-size: 20px;
    line-height: 35px;
    display: block;
}
#search_form {
    position: fixed;
    left: -10px;
    top: 35px;
    width: 100vw;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
    display: none;
}
.search_fr {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}
.search_fr fieldset {
    border: 0;
    outline: 0;
}
#keywords {
    display: block;
    width: 1000px;
    height: 60px;
    border: none;
    outline: 0;
    border-bottom: 3px solid #663300;
    text-indent: 14px;
    font-size: 20px;
    background-color: transparent;
}
#search_btn {
    display: block;
    background-color: transparent;
    text-indent: -9999px;
    width: 60px;
    height: 60px;
    background-image: url("../img/search_big.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    right: 460px;
    top: 52px;
    cursor: pointer;
}
.close {
    position: absolute;
    top: 12%;
    right: 17%;
    cursor: pointer;
}
.close i {
    color: #333;
    font-size: 30px;
}
.hash_fr h3 {
    margin-top: 40px;
}
.hash_fr a {
    display: block;
    line-height: 20px;
    padding: 5px 12px;
    color: #663300;
    border: 1px solid #663300;
    background-color: #fff;
    font-size: 16px;
    border-radius: 6px;
    float: left;
    margin-right: 10px;
    margin-bottom: 18px;
    margin-top: 12px;
}
.hash_fr a:hover {
    color: #fff;
    border-color: none;
    background-color: #663300;
    font-weight: 300;
}

.hd_bottom {
    width: 1280px;
    height: 75px;
    margin: 0 auto;
    padding-top: 15px;
}

.logo {
    width: 170px;
    height: 60px;
}

.logo img {
    width: 170px;
    height: 60px;
}

.gnb {
    padding-top: 25px;
    width: 1700px;
    margin: 0 auto;
}
.gnb ul {
    float: left;
    margin-left: 350px;
}
.gnb > ul > li {
    float: left;
    position: relative;
    height: 50px;
    margin-right: 70px;
}

.gnb li a.dp1 {
    display: block;
    text-align: center;
}

.gnb li a.dp1 {
    display: block;
    font-family: 'GongGothicMedium', sans-serif;
    color: #fff;
    font-size: 17px;
}

.gnb ul li:hover > a.dp1 {
    font-family: 'GongGothicMedium', sans-serif;
    color: #663300;
}
.sub {
    position: absolute;
    padding-top: 25px;
    top: 126px;
    left: 0px;
    z-index: 90;
    background: rgba(102,51,0,0.9);
    width: 100%;
    height: 380px;
}
.sub .sub_tit {
    float: left;
    display: block;
    width: 330px;
    position: absolute;
    left: 16.4%;
    top: 0;
}
.sub_fr {
    position: relative;
    left: 34.5%;
    top: -30px;
    width: 1000px;
}
.sub ul {
    float: right;
    margin-top: 50px;
}
.sub .sub_img {
    width: 1000px;
}
.sub .sub_img li {
    border: none;
    float: left;
    display: block;
    width: 94px;
}
.sub .sub_img li:hover a {
    color: #f79026;
}
.sub .sub_img li img {
    width: 70px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.sub .sub_img li a {
    font-size: 14px;
    text-align: center;
}
.sub .sub_con {
    position: absolute;
    width: 1000px;
    top: 160px;
    left: -10px;
}
.sub .sub_con1 li {
    width: 281px;
    margin-bottom: 30px;
    height: 50px;
    line-height: 50px;
}
.sub .sub_con2 {
    top: 5px;
}
.sub .sub_con3 {
    top: 5px;
}
.sub .sub_con4 {
    top: 5px;
}
.sub .sub_con5 {
    top: 5px;
}
.sub .sub_con6 {
    top: 5px;
}
.sub .sub_con2 > li {
    width: 281px;
    margin-bottom: 200px;
    height: 50px;
    line-height: 50px;
}
.sub .sub_con3 > li {
    width: 281px;
    margin-bottom: 150px;
    height: 50px;
    line-height: 50px;
}
.sub .sub_con4 > li {
    width: 281px;
    margin-bottom: 150px;
    height: 50px;
    line-height: 50px;
}
.sub .sub_con5 > li {
    width: 281px;
    margin-bottom: 150px;
    height: 40px;
    line-height: 40px;
}
.sub .sub_con6 > li {
    width: 281px;
    margin-bottom: 150px;
    height: 50px;
    line-height: 50px;
}
.sub .sub_con > li {
    border: 1px solid #d5bf91;
    margin-left: 30px;
    display: inline-block;
    position: relative;
}
.subb {
    position: absolute;
    left: -10px;
    top: 0;
}
.subb li:hover a {
    color: #f79026;
}
.sub .sub_con .subb li {
    height: 30px;
}
.sub .sub_con .subb li a {
    font-size: 14px;
}
.sub .sub_con > li:hover > a {
    background-color: #522900;
    color: #fff;
}
.sub ul li a {
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    display: block;
    padding-left: 20px;
    transition: 0.3s;
}
.gnb li:hover a.dp1, .gnb li:hover a.dp1.on {
    color: #663300;
}

.content {
    width: 1280px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    clear: both;
}

.slide {
    position: relative;
    top: -91px;
    width: 1920px;
    margin: 0 auto;
    height: 746px;
}
.vs_fr {
    position: absolute;
    top: 56%;
    left: 23%;
    z-index: 88;
}

.vs_fr img {
    display: block;
    width: 70px;
    height: 70px;
    float: left;
    padding: 30px 45px;
}

.vs2 {
    display: block;
    position: absolute;
    top: 77%;
    left: 37%;
    z-index: 99;
}

.vs {
    clear: both;
    position: relative;
    width: 1920px;
    height: 746px;
}

.vs .img_box {
    width: 1920px;
    height: 746px;
    overflow: hidden;
}
.vs .img_fr {
    width: 300%;
    height: 746px;
}

.vs .img_fr li {
    float: left;
}

.vs .img_box li img {
    display: block;
    width: 100%;
}
.inner {
    position: absolute;
    bottom: 0;
    width: 1920px;
    height: 100px;
}
.inner li {
    list-style: none;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    cursor: pointer;
}
.inner .prev {
    float: left;
}
.inner .stop {
    position: absolute;
    right: 125px;
}
.inner .next {
    position: absolute;
    right: 20px;
}

.inner .prev:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.inner .stop:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.inner .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.inner i {
    font-size: 40px;
    color: #fff;
    line-height: 100px;
    padding-left: 30px;
}


.bt_tit {
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 0px;
    text-align: center;
}

.vs_fr li {
    width: 160px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s;
    position: relative;
    z-index: 90;
}

.vs_fr li:hover {
    background-color: rgba(247, 144, 38, 0.8);
    margin-top: -15px;
}

#pg1 {
    padding-top: 100px;
    height: 500px;
}

.box1 {
    width: 600px;
    height: 100px;
    float: left;
    margin-right: 50px;
    position: relative;
}

.pg_tit {
    color: #000;
    font-family: 'GongGothicMedium', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 100;
}

.tb {
    display: table;
    border-collapse: collapse;
}

.tb1 {
    border: 2px solid #bbb;
    padding: 25px 25px;
}

.tb1 tr {
    line-height: 30px;
    transition: 0.6s;
}

.tb1 tr:hover {
    background-color: #bbd2eb;
}

.tb1 td a {
    color: #000;
}

.col1 {
    width: 1000px;
}

.col2 {
    width: 150px;
}

.btn {
    margin-top: 26px;
}

.btn li {
    margin-top: 20px;
}

.btn li a {
    display: block;
    width: 290px;
    height: 60px;
    background-color: #f79026;
    float: left;
    text-align: center;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 60px;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.6s;
}

.btn li a:hover {
    background-color: #663300;
}

.btn li i {
    clear: both;
    padding-right: 10px;
    font-size: 23px;
}

.bt1 {
    margin-right: 20px;
}

.btn .btn1 {
    display: block;
    padding-right: 40px;
}
.detail {
    transition: 0.5s;
}
.detail:hover {
    background-color: #eee;
}
.box1 .detail {
    display: block;
    clear: both;
    width: 50px;
    height: 50px;
    border: 1px solid #bbb;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 548px;
}

.box1 .detail i {
    font-size: 30px;
    color: #777;
    line-height: 50px;
    padding: 0px 10px;
}

.box2 {
    width: 600px;
    height: 100px;
    float: left;
    position: relative;
}

.card_fr {
    width: 600px;
    overflow: hidden;
}

.card_lst2 {
    width: 900px;
}

.card_lst2 li {
    float: left;
    margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    overflow: hidden;
    width: 290px;
    height: 264px;
}
.card_lst2 li img {
    transition: 0.5s;
}
.card_lst2 li:hover img {
    transform: scale(1.1);
}
.box2 .det {
    display: block;
    position: absolute;
    top: 0;
    left: 400px;
    float: left;
    display: block;
}

.box2 .det .prev {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #bbb;
    height: 50px;
    margin-left: 10px;
    float: left;
}
.box2 .det .stop {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #bbb;
    height: 50px;
    margin-left: 10px;
    float: left;
}
.box2 .det .next {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #bbb;
    height: 50px;
    margin-left: 10px;
    float: left;
}

.box2 .det i {
    font-size: 30px;
    color: #777;
    line-height: 50px;
    padding: 0px 10px;
}

#pg2 .pg_fr {
    position: relative;
    top: -70px;
    left: -350px;
    background: #d3e46c;
    height: 1000px;
}
#pg2 .map {
    background: url("../img/main_mp.png") 120px 40px;
    background-repeat: no-repeat;
    width: 1200px;
    height: 1000px;
    position: relative;
}
.viewlist {
    position: relative;
    z-index: 70;
}
.viewlist > li:hover {
    cursor: pointer;
}
.viewlist > li .tit.on {
    background-color: #663300;
}
.viewlist > li .no.effect {
    background-image: url("../img/main_mp04.png");
}
.viewlist li.view1 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 600px;
    left: 700px;
}
.viewlist li.view2 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 613px;
    left: 880px;
    background-position: 50px 50px;
}
.viewlist li.view3 {
    width: 150px;
    height: 100px;
    position: absolute;
    top: 405px;
    left: 690px;
    background-position: 50px 50px;
}
.viewlist li.view4 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 375px;
    left: 655px;
    background-position: 50px 50px;
}
.viewlist li.view5 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 375px;
    left: 705px;
}
.viewlist li.view6 {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 375px;
    left: 705px;
    background-position: 50px 50px;
}
.viewlist li.view7 {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 375px;
    left: 705px;
    background-position: 50px 50px;
}
.viewlist li.view8 {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 375px;
    left: 705px;
    background-position: 50px 50px;
}
.viewlist li.view9 {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 375px;
    left: 705px;
    background-position: 50px 50px;
}
.viewlist li.view10 {
    width: 200px;
    height: 80px;
    position: absolute;
    top: 375px;
    left: 705px;
    background-position: 50px 50px;
}

.viewlist li .no {
    background: url("../img/main_mp03.png") 0px 0px no-repeat;
    transition: 0.5s;
}
.viewlist li:hover .no {
    background: url("../img/main_mp04.png") 0px 0px no-repeat;
}
.viewlist li:hover .tit {
    background-color: #663300;
}
.viewlist li.view1 .no {
    width: 180px;
    height: 75px;
    background-position: -350px -20px;
    position: absolute;
    z-index: 80;
    top: 0px;
    left: -60px;
}
.viewlist li.view2 .no {
    width: 180px;
    height: 75px;
    background-position: -365px -115px;
    position: absolute;
    z-index: 80;
    top: 0px;
    left: -60px;
}
.viewlist li.view3 .no {
    width: 180px;
    height: 120px;
    background-position: -365px -205px;
    position: absolute;
    z-index: 80;
    top: 0px;
    left: -60px;
}
.viewlist li.view4 .no {
    width: 180px;
    height: 110px;
    background-position: -350px -365px;
    position: absolute;
    z-index: 80;
    top: 5px;
    left: -60px;
}
.viewlist li.view5 .no {
    width: 180px;
    height: 80px;
    background-position: -400px -480px;
    position: absolute;
    z-index: 80;
    top: 20px;
    left: -240px;
}
.viewlist li.view6 .no {
    width: 220px;
    height: 80px;
    background-position: -380px -575px;
    position: absolute;
    z-index: 80;
    top: 80px;
    left: -260px;
}
.viewlist li.view7 .no {
    width: 180px;
    height: 80px;
    background-position: -360px -675px;
    position: absolute;
    z-index: 80;
    top: -130px;
    left: -275px;
}
.viewlist li.view8 .no {
    width: 230px;
    height: 80px;
    background-position: -365px -750px;
    position: absolute;
    z-index: 80;
    top: 288px;
    left: -90px;
}
.viewlist li.view9 .no {
    width: 185px;
    height: 80px;
    background-position: -345px -842px;
    position: absolute;
    z-index: 80;
    top: 50px;
    left: 65px;
}
.viewlist li.view10 .no {
    width: 200px;
    height: 100px;
    background-position: -380px -920px;
    position: absolute;
    z-index: 80;
    top: 125px;
    left: -195px;
}

.viewlist li.view1 .tit {
    width: 150px;
    position: absolute;
    top: 15px;
    left: -45px;
    transition: 0.4s;
}
.viewlist li.view2 .tit {
    width: 150px;
    position: absolute;
    top: 15px;
    left: -32px;
    transition: 0.4s;
}
.viewlist li.view3 .tit {
    width: 110px;
    position: absolute;
    top: 75px;
    left: -19px;
    transition: 0.4s;
}
.viewlist li.view4 .tit {
    width: 120px;
    position: absolute;
    top: -3px;
    left: 0px;
    transition: 0.4s;
}
.viewlist li.view5 .tit {
    width: 160px;
    position: absolute;
    top: 30px;
    left: -260px;
    transition: 0.4s;
}
.viewlist li.view6 .tit {
    width: 210px;
    position: absolute;
    top: 103px;
    left: -280px;
    transition: 0.4s;
}
.viewlist li.view7 .tit {
    width: 150px;
    position: absolute;
    top: -120px;
    left: -248px;
    transition: 0.4s;
}
.viewlist li.view8 .tit {
    width: 220px;
    position: absolute;
    top: 310px;
    left: -120px;
    transition: 0.4s;
}
.viewlist li.view9 .tit {
    width: 200px;
    position: absolute;
    top: 64px;
    left: 70px;
    transition: 0.4s;
}
.viewlist li.view10 .tit {
    width: 200px;
    position: absolute;
    top: 165px;
    left: -230px;
    transition: 0.4s;
}


.viewlist li .tit {
    background-color: #aaa;
    height: 50px;
    border-radius: 25px;
    position: absolute;
}
.detail_box {
    position: absolute;
    top: 0px;
    left: 90%;
    float: right;
    background-color: rgb(255, 208, 56);
    width: 800px;
    height: 1000px;
}

.detail1 {
    width: 550px;
    margin: 0 auto;
    padding-top: 150px;
}

.detail1 .gongju {
    color: #663300;
    font-family: 'GongGothicBold', sans-serif;
    font-size: 40px;
    padding-right: 10px;
}

.detail1 .no {
    color: #000;
    font-family: 'GongGothicLight', sans-serif;
    font-size: 40px;
}

.detail1 .tit {
    display: block;
    font-family: 'GongGothicLight', sans-serif;
    font-weight: 500;
    font-size: 50px;
    padding-top: 15px;
}

.detail1 .info {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.detail1 .img {
    width: 370px;
    padding-bottom: 30px;
    padding-top: 30px;
    overflow: hidden;
}

.detail1 .img img {
    width: 450px;
}

.detail1 .icon i {
    background-color: #555;
    width: 35px;
    height: 35px;
    border-radius: 40px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    font-size: 23px;
    margin-bottom: 7px;
    margin-right: 5px;
}

.detail1 .add_tit, .call_tit {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #222;
}

.detail1 .more {
    background-color: #663300;
    width: 170px;
    height: 50px;
    margin-top: 20px;
}

.detail1 .more a {
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
}

.detail1 .more a:hover {
    background-color: #fff;
    color: #663300;
}

#pg3 {
    clear: both;
    width: 100%;
    height: 420px;
}

#pg3 .pg_fr .pg_tit {
    text-align: center;
    padding-bottom: 30px;
}

#pg3 .pg_fr {
    height: 350px;
    overflow: hidden;
    position: relative;
}

.card_fr2 {
    width: 2000px;
}

.card_lst1 {
    position: relative;
    display: block;
    max-width: 2000px;
    float: left;
}

.card_lst1 li {
    float: left;
    margin-right: 41px;
}

.card_lst1 a img {
    float: left;
}

.card_lst1 .tit {
    display: block;
    background-color: #663300;
    color: #fff;
    text-align: center;
    width: 290px;
    height: 55px;
    position: absolute;
    z-index: 99;
    line-height: 55px;
    margin-top: 175px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}

.pg_fr .det2 {
    clear: both;
    position: absolute;
    top: 0;
    float: left;
}

.det2 a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #bbb;
    border-radius: 40px;
    margin-right: 10px;
    float: left;
    color: #777;
    font-size: 23px;
    line-height: 50px;
    text-align: center;
}

.pg_fr .det2_1 {
    float: right;
    display: block;
    margin-top: -95px;
}

.det2_1 a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #bbb;
    border-radius: 40px;
    color: #777;
    font-size: 23px;
    line-height: 50px;
    text-align: center;
}
#pg3 .item {
    transition: 0.6s;
}
#pg3 .item:hover {
    margin-top: -15px;
}

#pg3 .item:hover .tit {
    background-color: #f79026;
}

#pg4 {
    position: relative;
    left: -312px;
    width: 1920px;
    height: 820px;
    background-color: #ffe7ad;
    margin-bottom: 100px;
}

#pg4 .pg_fr {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

#pg4 .pg_tit {
    padding-top: 90px;
}

.pg_fr .det3 {
    float: right;
    margin-top: -80px;
}

.det3 a {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    margin-right: 10px;
    float: left;
    color: #777;
    font-size: 23px;
    line-height: 50px;
    text-align: center;
}
.utb_fr {
    width: 1270px;
    overflow: hidden;
}
.utb_item {
    width: 13000px;
}

.utb_item .item {
    width: 400px;
    float: left;
    margin-right: 35px;
    cursor: pointer;
}

.utb_item .item:last-child {
    margin-right: 0px;
}

.utb_item .item img {
    width: 400px;
}

.utb_fr {
    padding-top: 30px;
}

.utb_item .tit {
    display: block;
    width: 400px;
    height: 60px;
    background-color: #663300;
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 63px;
    margin-top: -10px;
}
.utb_fr .item {
    transition: 0.6s;
}
.utb_fr .item:hover {
    margin-top: -15px;
}

.utb_fr .item:hover .tit {
    background-color: #f79026;
}

.item_box2 {
    clear: both;
}

.item_box2 .item3 a {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 20px;
    text-align: center;
}

.item_box2 .item3 {
    display: block;
    float: left;
    width: 239px;
    margin-right: 20px;
}
.item_box2 .item3 img {
    width: 55px;
    margin-top: 20px;
}
.item_box2 .item3:last-child {
    margin-right: 0px;
}

.item_box2 .tit_box {
    margin-top: 35px;
}
.info1_tit {
    color: #333;
    font-size: 17px;
}

.card_ra {
    display: none;
}
#pg5 .pg_tit {
    text-align: center;
    font-size: 30px;
}

#pg5 .lb_box {
    width: 1280px;
    background-color: #663300;
    height: 50px;
}

#pg5 .lb_box li label {
    float: left;
    color: #fff;
    font-family: 'GongGothicLight', sans-serif;
    font-size: 20px;
    width: 320px;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #8a5f36;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.6s;
}

#pg5 .lb_box li label:hover {
    background-color: #f79026;
}

#pg5 .round_thum_box {
    padding-top: 50px;
}

#pg5 .round_thum_box li {
    width: 1280px;
    float: left;
    display: none;
}

#pg5 .round_thum_box li a {
    float: left;
    margin-right: 40px;
    transition: 0.6s;
}

#pg5 .round_thum_box li a:hover {
    margin-top: -15px;
}

#pg5 .round_thum_box li a:last-child {
    margin-right: 0px;
}

#card_ra1:checked ~ .fes_card .lb_box li.item1 label {
    background-color: #f79026;
    color: #fff;
}

#card_ra1:checked ~ .fes_card .round_thum_box .item1 {
    display: block;
}

#card_ra2:checked ~ .fes_card .lb_box li.item2 label {
    background-color: #f79026;
    color: #fff;
}

#card_ra2:checked ~ .fes_card .round_thum_box .item2 {
    display: block;
}

#card_ra3:checked ~ .fes_card .lb_box li.item3 label {
    background-color: #f79026;
    color: #fff;
}

#card_ra3:checked ~ .fes_card .round_thum_box .item3 {
    display: block;
}

#card_ra4:checked ~ .fes_card .lb_box li.item4 label {
    background-color: #f79026;
    color: #fff;
}

#card_ra4:checked ~ .fes_card .round_thum_box .item4 {
    display: block;
}

.ft {
    clear: both;
    padding-top: 100px;
}

.ft_fr1 {
    background-color: #333;
    height: 80px;
    width: 2000px;
    margin: 0 auto;
}

.ft_fr2 {
    width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
}

.ft_fr1 .tnb {
    padding-left: 16%;
    margin: 0 auto;
}

.ft_fr1 .tnb li {
    float: left;
}

.ft_fr1 .tnb li a {
    float: left;
    color: #fff;
    line-height: 80px;
    margin-right: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.ft_logo {
    width: 154px;
    height: 54px;
    float: left;
    margin-right: 50px;
}

.ft_logo img {
    width: 154px;
    height: 54px;
}

.copy_box {
    padding-top: 10px;
    line-height: 28px;
}

.copy_box .addr1,.addr2 {
    display: block;
    float: left;
    font-size: 17px;
}

.addr2 {
    color: #f79026;
    font-weight: 600;
    margin-left: 15px;
}

.addr2 i {
    margin-right: 5px;
}

.copyright {
    display: block;
    width: 600px;
    font-size: 15px;
    color: #666;
}
#sel {
    position: absolute;
    left: 1440px;
    bottom: 90px;
    width: 150px;
    height: 50px;
    border: 1px solid #333;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.to_top {
    display: block;
    width: 75px;
    height: 75px;
    background-color: #f79026;
    position: relative;
    top: -225px;
    left: 1510px;
    clear: both;
    z-index: 99;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
}

.to_top i {
    font-size: 25px;
    color: #fff;
    line-height: 75px;
}
