@charset "utf-8";

body,
html {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.ck {
    display: none;
}

.wrapper {
    clear: both;
    width: 100%;
}

.hd {
    clear: both;
    position: relative;
    width: 100%;
    height: 100px;
}

.hd_wrap {
    width: 1440px;
    margin: 0 auto;
}

.logo {
    display: block;
    float: left;
    margin-top: 20px;
}

.logo img {
    display: block;
}

.gnb {
    float: left;
    width: 1000px;
    margin-top: 32px;
    margin-left: 60px;
}

.gnb li {
    float: left;
    position: relative;
    width: 185px;
}

.gnb li a.dp1 {
    display: block;
    color: #006699;
    text-align: center;
    font-size: 22px;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
}

.gnb .sub {
    position: absolute;
    padding-top: 25px;
    top: 85px;
    left: 0;
    z-index: 66;
    background: #daf3f5;
    width: 100%;
    height: 180px;
}
.gnb li:hover a.dp1, .gnb li:hover a.dp1.on {
    color: #203267;
}
#sub_wrap {
    width: 950px;
    margin: 0 auto;
    position: relative;
    padding-left: 40px;
}
#lnb > li:first-child {
    margin-right: 10px;
}
#lnb > li:nth-child(2) {
    margin-right: -7px;
}
#lnb > li:nth-child(3) {
    margin-right: 2px;
}
#lnb > li:nth-child(4) {
    margin-right: 2px;
}
#lnb > li > ul > li {
    width: 190px;
}
#lnb li a {
    clear: both;
    line-height: 40px;
    display: block;
    font-size: 18px;
    color: #444;
    font-family: 'Noto Sans KR', sans-serif;
}

#lnb li a:after {
    content: "▶";
    line-height: 30px;
    font-size: 13px;
    padding-left: 8px;
    display: none;
}

#lnb li a:hover {
    color: #203267;
    font-weight: 500;
    font-family: 'Noto Sans KR', sans-serif;
}

#lnb li a:hover::after {
    display: inline;
}

.tnb {
    float: right;
    margin-top: 30px;
}
.tnb span,.tnb i {
    color: #203267;
}

.tnb a, .tnb label {
    display: block;
    float: left;
    padding: 3px 8px;
    cursor: pointer;
}
.tnb a:hover, .tnb label:hover {
    text-decoration: underline;
}

.tnb .go_login {
    color: #000;
}

#search_fr {
    width: 100vw;
    height: 360px;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 70;
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.5s;
}

#ck1:checked ~ #search_fr {
    visibility: visible;
    opacity: 1;
}

#search_form {
    clear: both;
    width: 1280px;
    height: 360px;
    position: relative;
    margin: 10px auto;
}

.search_tit {
    text-align: center;
    padding-top: 28px;
    padding-bottom: 15px;
    color: #006699;
    font-size: 28px;
}

#keyword {
    display: block;
    width: 970px;
    height: 58px;
    line-height: 58px;
    border: 2px solid #006699;
    float: left;
    margin-left: 109px;
    border-radius: 7px;
    padding-left: 20px;
    font-size: 20px;
}

#search_btn {
    display: block;
    width: 58px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 34px;
    float: right;
    margin-right: 109px;
    background-color: transparent;
}

#search_btn i {
    color: #006699;
    font-size: 40px;
    line-height: 60px;
}

.close_btn1 {
    display: block;
    width: 42px;
    height: 42px;
    position: absolute;
    right: 109px;
    top: 0px;
    cursor: pointer;
    font-size: 35px;
    color: #006699;
}

#calender {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 70;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.7);
}

#ck2:checked ~ #calender {
    visibility: visible;
    opacity: 1;
}

#calender .calender_fr {
    clear: both;
    width: 1000px;
    height: 700px;
    position: relative;
    margin: 80px auto;
    background-color: #fff;
}

.calender_tit {
    text-align: center;
    padding-bottom: 15px;
    padding-left: 430px;
    font-weight: 600;
    font-size: 28px;
    height: 60px;
    line-height: 3;
    color: #fff;
    background: #203267;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
}

.calender_tit span {
    display: block;
    float: left; 
}
.calender_tit span:first-child {
    padding-right: 10px;
}
.calender_arr {
    clear: both;
    padding-top: 20px;
    width: 1000px;
    margin: 0 auto;
}
.calender_arr td,
.calender_arr th {
    width: 12.2%;
    font-size: 20px;
}

.cal2,
.cal3,
.cal4,
.cal5,
.cal6 {
    color: #333;
}

.calender_arr th {
    height: 50px;
    background-color: #daf3f5;
    vertical-align: top;
    padding-top: 14px;
}

.calender_arr td {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    vertical-align: top;
    padding-top: 14px;
}
.calender_arr td:last-child {
    border-right: none;
}

.calender_arr td span {
    padding-left: 14px;
}

.day_coment {
    text-align: right;
    padding-right: 14px;
    font-size: 16px;
    font-weight: 300;
    color: red;
}

#close_btn2 {
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
}
#close_btn2 i {
    color: #fff;
    font-size: 30px;
}

#content {
    clear: both;
    width: 100%;
}

#visual {
    clear: both;
    width: 1440px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}

.visual_fr {
    width: 300%;
    height: auto;
}

.visual_fr:after {
    content: "";
    display: block;
    clear: both;
}

.visual_fr li {
    width: 33.33333%;
    float: left;
    height: auto;
}

.visual_fr li .tit_box {
    float: left;
    color: #203267;
    padding-top: 100px;
}

.vs_tit1 {
    font-size: 30px;
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    padding-top: 50px;
}

.vs_tit2 {
    font-size: 65px;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    line-height: 80px;
    padding-top: 20px;
}

.visual_fr li .vs_img {
    display: block;
    float: right;
    padding-bottom: 60px;
}

#visual .btn_fr {
    position: absolute;
    top: 480px;
    left: 0;
    z-index: 10;
}

#visual .btn_fr button {
    background-color: transparent;
    font-size: 20px;
    width: 30px;
    display: block;
    float: left;
    line-height: 20px;
    height: 40px;
    position: relative;
    text-align: right;
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    color: #203267;
    cursor: pointer;
}

#visual .btn_fr button:before {
    content: "";
    display: block;
    float: left;
    width: 0px;
    height: 3px;
    background-color: #203267;
    position: absolute;
    top: 18px;
    left: 8px;
    transition: 0.5s;
}

#visual .btn_fr button.on:before {
    width: 50px;
}

#visual .btn_fr button.on {
    color: #203267;
    width: 90px;
}

.pg {
    width: 100vw;
    min-height: 80vh;
}

.pg:after {
    content: "";
    clear: both;
    display: block;
}

#pg1 {
    background-color: #006699;
    position: relative;
    margin-top: -50px;
    height: 1200px;
}

.linkbar {
    width: 1440px;
    height: 130px;
    clear: both;
    position: absolute;
    margin: 0 auto;
    background-color: #daf3f5;
    line-height: 130px;
    top: -60px;
    left: 0;
    margin-left: 12.5vw;
}

.linkbar li {
    float: left;
    width: 25%;
}

.linkbar li a {
    display: block;
    font-size: 25px;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    color: #333;
}

.linkbar li a i {
    padding-left: 0;
    transition: 0.5s;
}

.linkbar li a:hover {
    color: #203267;
}

.linkbar li a:hover i {
    padding-left: 10px;
}

.pg_fr {
    clear: both;
    width: 1440px;
    padding-top: 20px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.pg_tit {
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding-top: 150px;
}
#pg1 .pg_tit {
    padding-top: 200px;
}

.pg_com {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 5px;
}

.widget {
    clear: both;
    width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
}

.cur_month_fr {
    width: 120px;
    height: 92px;
    float: left;
    position: relative;
}

.cur_month_fr span {
    display: block;
    color: #fff;
    text-align: center;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
}

.cur_month_fr .month {
    font-size: 46px;
    line-height: 1;
}

.cur_month_fr .year {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
}

.cur_month_lst {
    float: left;
    padding-top: 20px;
}

.cur_month_lst li {
    float: left;
    padding: 10px;
    font-size: 20px;
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    color: #fff;
    cursor: pointer;
    position: relative;
}

.cur_month_lst li.on:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: 1px solid #fff;
    position: absolute;
    top: -1px;
    left: -6px;
}

.cur_month_cate_fr {
    width: 3000px;
    height: 600px;
    position: absolute;
    top: 450px;
    left: 40px;
}

.month_card_lst {
    clear: both;
    width: 3000px;
    height: 550px;
    padding-top: 50px;
}

.month_card_lst li {
    float: left;
    margin-right: 65px;
    width: 300px;
    height: 800px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    border-radius: 15px;
    overflow: hidden;
}

.month_card_lst li.on {
    width: 380px;
    height: 800px;
    transition: 0.3s;
}

.month_card_lst li.thumb {
    height: 520px;
}

.month_card_lst li .thumb_img {
    display: block;
    width: 300px;
    height: 410px;
    border-bottom: 40px;
    border-radius: 15px;
    overflow: hidden;
}

.month_card_lst li.on .thumb_img {
    display: block;
    width: 380px;
    height: 520px;
}

.month_card_lst li .hid_box {
    width: 300px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.month_card_lst li.on .hid_box {
    width: 380px;
    height: 700px;
    border-radius: 15px;
    visibility: visible;
    opacity: 1;
}

.round_box {
    display: block;
    width: 110px;
    line-height: 38px;
    border: 2px solid #fff;
    margin: 14px auto;
    border-radius: 22px;
    color: #fff;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    margin-top: 90px;
}

.cate_tit,
.cate_location,
.cate_date {
    padding-left: 35px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.8;
}

.cate_location i {
    padding-right: 7px;
}

.cate_date i {
    padding-right: 7px;
}

.cate_tit {
    padding-left: 0;
    padding-bottom: 17px;
    border-bottom: 2px solid #fff;
    margin-left: 30px;
    font-size: 23px;
    margin-bottom: 14px;
    margin-right: 30px;
    text-align: center;
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    letter-spacing: 0.5px;
}

.thum_more {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50px;
    background-color: #fff;
    margin: 40px auto;
    font-size: 18px;
    color: #203267;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    transition: 0.5s;
}
.thum_more:hover {
    background: #203267;
    color: #fff;
}

.thum_date {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 2.8;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 3px;
}

.thum_date:before {
    content: "#해양";
    color: yellow;
    font-weight: 500;
    padding-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.thum_tit {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-top: -5px;
    font-family: 'Noto Sans KR', sans-serif;
}

#pg1 .detail {
    display: block;
    width: 75px;
    position: relative;
    left: 1570px;
    top: -770px;
    color: #fff;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
}

#pg2 {
    position: relative;
    padding-top: 50px;
}

#pg2 .pg_fr {
    position: relative;
    height: 100px;
}

#pg2 .pg_tit {
    text-align: left;
    color: #203267;
}

#pg2 .pg_com {
    text-align: left;
    color: #333;
}

.intro_ra {
    display: none;
}

.pic_fr {
    width: 1440px;
    margin: 0 auto;
}

.lb_box {
    width: 700px;
    float: left;
    padding-top: 80px;
}

.lb_box li {
    float: left;
}

.lb_box li label {
    display: block;
    height: 65px;
    line-height: 72px;
    border-radius: 40px;
    border: 2px solid #203267;
    color: #203267;
    padding: 0px 35px;
    margin: 10px;
    font-family: 'SEBANG_Gothic_Regular', sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.lb_box li label:hover {
    background: #203267;
    color: #fff;
    border: 2px solid #203267;
}

.round_thum_box {
    width: 640px;
    float: right;
}

.round_thum_box li {
    width: 640px;
    height: auto;
    display: none;
}

.round_thum_box li img {
    display: block;
    width: 100%;
    border-radius: 40px;
}

#intro_ra1:checked ~ .pic_fr .lb_box li.item1 label {
    background-color: #203267;
    color: #fff;
}

#intro_ra1:checked ~ .pic_fr .round_thum_box li.item1 {
    display: block;
}

#intro_ra2:checked ~ .pic_fr .lb_box li.item2 label {
    background-color: #203267;
    color: #fff;
}

#intro_ra2:checked ~ .pic_fr .round_thum_box li.item2 {
    display: block;
}

#intro_ra3:checked ~ .pic_fr .lb_box li.item3 label {
    background-color: #203267;
    color: #fff;
}

#intro_ra3:checked ~ .pic_fr .round_thum_box li.item3 {
    display: block;
}

#intro_ra4:checked ~ .pic_fr .lb_box li.item4 label {
    background-color: #203267;
    color: #fff;
}

#intro_ra4:checked ~ .pic_fr .round_thum_box li.item4 {
    display: block;
}

#intro_ra5:checked ~ .pic_fr .lb_box li.item5 label {
    background-color: #203267;
    color: #fff;
}

#intro_ra5:checked ~ .pic_fr .round_thum_box li.item5 {
    display: block;
}

#intro_ra6:checked ~ .pic_fr .lb_box li.item6 label {
    background-color: #203267;
    color: #fff;
}

#intro_ra6:checked ~ .pic_fr .round_thum_box li.item6 {
    display: block;
}

.more {
    display: block;
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: 1px solid #203267;
    color: #203267;
    text-align: center;
    line-height: 90px;
    position: absolute;
    right: 0px;
    top: 170px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'SEBANG_Gothic_Bold', sans-serif;
    transition: 0.5s;
}

.more:hover {
    background-color: #203267;
    color: #fff;
}

#pg3 {
    padding-bottom: 100px;
    position: relative;
}

#pg3 .pg_tit {
    color: #203267;
}

#pg3 .pg_com {
    color: #333;
}

.culture_btn_fr {
    clear: both;
    width: 960px;
    height: 50px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.culture_btn_fr li {
    float: left;
    height: 50px;
    width: 20%;
}

.culture_btn_fr li button {
    display: block;
    line-height: 50px;
    border: 2px solid #203267;
    text-align: center;
    color: #203267;
    min-width: 120px;
    margin: 0 auto;
    background-color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.culture_btn_fr li button.on {
    background-color: #203267;
    color: #fff;
}

.culture_lst_fr {
    width: 1440px;
    margin: 20px auto;
}

.culture_lst_fr li {
    width: 320px;
    margin: 20px;
    float: left;
}

.culture_lst_fr li a {
    display: block;
}

.culture_lst_fr li a .cul_img_fr {
    width: 320px;
    position: relative;
    height: 454px;
    overflow: hidden;
    border-radius: 15px;
}

.culture_lst_fr li a .cul_img_fr img {
    display: block;
    width: 100%;
    height: 454px;
}

.culture_lst_fr li a .cul_img_fr span {
    position: absolute;
    top: 23px;
    display: block;
    padding: 6px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 14px;
}

.culture_lst_fr li a .cul_img_fr span.pan1 {
    right: 70px;
}

.culture_lst_fr li a .cul_img_fr span.pan2 {
    right: 20px;
}

.culture_lst_fr li a .culture_tit {
    padding-top: 10px;
    line-height: 42px;
    font-size: 18px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

.culture_lst_fr li a .culture_tit:before {
    content: "진행중";
    border-radius: 20px;
    padding: 5px 8px;
    background-color: #daf3f5;
    color: #006699;
    margin-right: 10px;
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}

.culture_lst_fr li .culture_place,
.culture_lst_fr li .culture_data {
    line-height: 25px;
    font-size: 16px;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

.add_item {
    clear: both;
    display: block;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid #333;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    transition: 0.5s;
}

.add_item:hover {
    background-color: #333;
    color: #fff;
}

#pg4 {
    background-color: #daf3f5;
}

#pg4 .pg_fr {
    position: relative;
    height: 1250px;
}

#pg4 .pg_tit {
    text-align: left;
    color: #203267;
}

#pg4 .pg_com {
    text-align: left;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
}

.jumpbox_fr {
    clear: both;
    width: 800px;
    height: 340px;
    float: right;
    margin-bottom: 50px;
    overflow: hidden;
}

.jumpbox_fr .jumpbox_lst {
    clear: both;
    width: 1600px;
    height: 340px;
}

.jumpbox_fr .jumpbox_lst li a {
    float: left;
    width: 220px;
    height: 220px;
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

.jumpbox_fr .jumpbox_lst li a:hover {
    margin-top: 0;
}

.jumpbox_fr .jumpbox_lst li a {
    display: block;
    position: relative;
}

.jumpbox_fr .jumpbox_lst li a img {
    display: block;
    width: 220px;
    height: 220px;
}

.jumpbox_fr .jumpbox_lst li a i {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    font-size: 20px;
}

#pg4 .more {
    right: auto;
    left: 20px;
    top: 350px;
}

#pg4 .noti .pg_tit {
    padding-top: 3px;
    padding-bottom: 24px;
}

.noti {
    clear: both;
    position: relative;
}

.noti_box_lst {
    clear: both;
    width: 1440px;
    margin: 0 auto;
}

.noti_box_lst:after {
    content: "";
    clear: both;
    display: block;
}

.noti_box_lst li {
    width: 420px;
    height: 410px;
    float: left;
    margin-right: 90px;
    background-color: #fff;
    margin-top: 40px;
    transition: 0.5s;
    position: relative;
    z-index: 10;
}

.noti_box_lst li:hover {
    margin-top: 10px;
    box-shadow: 2px 2px 20px #aaa;
}

.noti_box_lst li:hover .nt_tit2 {
    color: #006699;
}

.noti_box_lst li:last-child {
    margin-right: 0;
}

.noti_box_lst li a {
    display: block;
    padding: 45px;
    position: relative;
}

.nt_tit1 {
    font-size: 18px;
    color: #aaa;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}

.nt_tit2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 28px;
    height: 25px;
    padding-top: 0.5em;
    color: #333;
    font-family: 'Noto Sans KR', sans-serif;
    padding-bottom: 50px;
}

.nt_com {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 50px;
}

.nt_date {
    display: block;
    margin-top: 60px;
    font-size: 17px;
    color: #aaa;
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif;
}

.nt_more {
    display: block;
    font-size: 40px;
    color: #aaa;
    position: absolute;
    bottom: 40px;
    right: 40px;
    transition: 0.5s;
}

.noti_box_lst li:hover .nt_more {
    transform: rotate(180deg);
    color: #006699;
}

.ft {
    clear: both;
    width: 100%;
    height: 200px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    padding-bottom: 20px;
}

.ft_fr {
    width: 1440px;
    margin: 0 auto;
    padding-top: 27px;
    border-bottom: 1px solid #666;
}

.ft_fr:last-child {
    border-bottom: none;
}

.ft_fr:after {
    content: "";
    clear: both;
    display: block;
}

.fnb {
    float: left;
    padding-bottom: 10px;
}

.fnb li {
    float: left;
    padding: 8px;
}

.fnb li a {
    color: #fff;
    font-size: 16px;
}

.relationlink {
    float: right;
    position: relative;
    width: 180px;
    height: 70px;
    cursor: pointer;
}

.relationlink details {
    color: #666;
    border: 1px solid #666;
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    font-weight: 500;
}

.relationlink details a {
    display: block;
    color: #666;
}

.snslink {
    float: right;
    margin-right: 25px;
}

.snslink li {
    float: left;
}

.snslink li a {
    color: #666;
    font-size: 23px;
    padding-left: 17px;
    transition: 0.5s;
}

.snslink li a:hover {
    color: #fff;
}

.ft_fr .ft_logo {
    display: block;
    width: 170px;
    float: left;
    padding-right: 30px;
    opacity: 0.5;
}

.ft_fr .copy_box .addr {
    color: #777;
    line-height: 20px;
}

.ft_fr .copy_box {
    color: #777;
}

.to_top {
    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 99;
    display: block;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.to_top.on {
    bottom: 50px;
}

.to_top:before {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    width: 2px;
    height: 2px;
    top: 41px;
    left: 40px;
    background-color: #a1bff0;
    animation-name: circle_ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

@keyframes circle_ani {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(90);
        opacity: 0;
    }
}

.to_top i {
    display: block;
    background-color: #203267;
    width: 75px;
    height: 75px;
    line-height: 75px;
    border-radius: 50%;
    position: absolute;
}

.svg1 {
    position: absolute;
    left: -60px;
    top: 60px;
    z-index: 0;
    display: block;
    width: 600px;
    height: 600px;
    opacity: 0.3;
    animation-name: char_ani1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.svg2 {
    position: absolute;
    left: 2000px;
    top: -80px;
    z-index: 0;
    display: block;
    width: 550px;
    height: 550px;
    opacity: 0.4;
    animation-name: char_ani2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.svg3 {
    position: absolute;
    right: -500px;
    top: -260px;
    z-index: 0;
    display: block;
    width: 600px;
    height: 600px;
    opacity: 0.3;
    animation-name: char_ani3;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.svg4 {
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 0;
    display: block;
    width: 450px;
    height: 450px;
    opacity: 0.3;
    animation-name: char_ani4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.svg5 {
    position: absolute;
    right: 100px;
    top: 200px;
    z-index: 0;
    display: block;
    width: 400px;
    height: 400px;
    opacity: 0.2;
    animation-name: char_ani5;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.svg6 {
    position: absolute;
    right: 500px;
    top: -140px;
    z-index: 10;
    display: block;
    width: 600px;
    height: 300px;
    opacity: 0.2;
    animation-name: char_ani6;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes char_ani1 {
    0% {
        top: 0px;
    }

    100% {
        top: 150px;
    }
}
@keyframes char_ani2 {
    0% {
        left: 1500px;
    }

    100% {
        left: 1200px;
    }
}
@keyframes char_ani3 {
    0% {
        right: -500px;
    }

    100% {
        right: 0px;
    }
}
@keyframes char_ani4 {
    0% {
        left: -100px;
    }

    100% {
        left: 100px;
    }
}
@keyframes char_ani5 {
    0% {
        top: 800px;
    }

    100% {
        top: 1150px;
    }
}
@keyframes char_ani6 {
    0% {
        right: -100px;
    }

    100% {
        right: 100px;
    }
}
